body{
    background-image: repeating-linear-gradient(purple, rgb(235, 60, 194), blue);
    text-align: center;
    background-attachment: fixed;
}

#jogo{
    width:608px;
    height: 600px;
    border:solid 4px;
    margin: auto;
    background-color: aliceblue;
}
 
.linha{
    height:200px;
    border :solid 1px;
}
 
.casa{
    width:200px;
    height:100%;
    border :solid 1px;
    border-color: black;
    float: left;
}
